@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
		padding: 0;
		margin: 0;
		border: 0;
}

*, *:before, *:after {
		box-sizing: border-box;
}

:focus, :active {
		outline: none;
}

a:focus, a:active {
		outline: none;
}

nav, footer, header, aside {
		display: block;
}

html, body {
		height: 100%;
		width: 100%;
		font-size: 100%;
		line-height: 1;
		font-size: 14px;
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
}

input, button, textarea {
		font-family: inherit;
}

input::-ms-clear {
		display: none;
}

button {
		cursor: pointer;
}

button::-moz-focus-inner {
		padding: 0;
		border: 0;
}

a, a:visited {
		text-decoration: none;
}

a:hover {
		text-decoration: none;
}

ul li {
		list-style: none;
}

img {
		vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
		font-size: inherit;
		font-weight: inherit;
}

/*--------------------*/
body {
		font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.container {
		max-width: 950px;
		margin: 0 auto;
}

.header {
		background-color: #fff;
		border-bottom: 1px solid #DBDBDB;
}
.header-blocks {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 15px 0;
}
.header-blocks .header__name {
		font-family: "Lobster";
		font-size: 28px;
}
.header-blocks .search-header {
		padding: 5px 10px;
		background-color: #FAFAFA;
		border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
		outline: none;
		width: 200px;
}
.header-blocks .search-header::placeholder {
		font-size: 14px;
		font-weight: 300;
		text-align: center;
}
.header-blocks .header-items {
		display: flex;
		align-items: center;
}
.header-blocks .header-items a {
		color: #000;
}
.header-blocks .header-items a:not(:last-child) {
		padding-right: 20px;
}
.header-blocks .header-items a i {
		font-size: 22px;
}
.header-blocks .header-items a img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 1px solid #000;
		padding: 2px;
}

.main {
		background-color: #FAFAFA;
}
.main-btn {
		font-size: 14px;
		font-weight: 600;
		font-family: "Segoe UI";
		cursor: pointer;
		color: #fff;
		padding: 8px 25px;
		background-color: #0095F6;
		border-radius: 3px;
}
.main-btn:hover {
		background-color: #036db7;
}
.main-btn__fas {
		padding: 8px 12px;
		margin: 0 16px 0 10px;
}
.main-header {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid #DBDBDB;
}
.main-header__block {
		display: flex;
		justify-content: flex-start;
		padding-top: 30px;
}
.main-img {
		margin-right: 100px;
		margin-left: 90px;
}
.main-img img {
		height: 150px;
		width: 150px;
		border-radius: 50%;
}
.main-blocks {
		display: flex;
		flex-direction: column;
		margin-top: 5px;
}
.main-blocks__header {
		display: flex;
		align-items: center;
}
.main-blocks__header h2 {
		margin-right: 20px;
		font-size: 28px;
		line-height: 32px;
		font-weight: 300;
}
.main-blocks__header .main-points {
		cursor: pointer;
		display: flex;
}
.main-blocks__header .main-points__item {
		background-color: #000;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		margin: 0 1px;
}
.main-blocks__subscrib {
		display: flex;
		font-size: 16px;
		font-weight: 400;
		margin: 25px 0;
}
.main-blocks__subscrib .main-publications, .main-blocks__subscrib .main-subscrib {
		margin-right: 40px;
}
.main-blocks__subscrib span {
		font-weight: 600;
}
.main-blocks__info {
		display: flex;
		flex-direction: column;
		line-height: 1.7;
		font-size: 16px;
		margin-bottom: 50px;
}
.main-blocks__info h3 {
		font-weight: 600;
		font-size: 16px;
}
.main-blocks__info .paragraf-last {
		font-size: 12px;
		color: #8e8e8e;
		font-weight: 500;
		margin-top: 10px;
}
.main-blocks__info .paragraf-last span {
		color: #262626;
		cursor: pointer;
}
.main-blocks__stories {
		display: flex;
		margin-bottom: 50px;
		margin-left: 40px;
}
.main-blocks__stories img {
		width: 85px;
		height: 85px;
		border-radius: 50%;
		margin-right: 25px;
		margin-left: 25px;
		padding: 2px;
		border: 1px solid #DBDBDB;
}
.main-blocks__stories img:hover {
		border: 1px solid #675858;
}
.main-blocks__stories p {
		text-align: center;
		margin-top: 15px;
		font-weight: 600;
}
.main-photo {
		margin-top: -21px;
		display: flex;
		flex-direction: column;
}
.main-photo__text {
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		margin: 20px 0;
}
.main-photo__text .photo-block {
		cursor: pointer;
}
.main-photo__text .photo-block:not(:last-child) {
		margin-right: 62px;
}
.main-photo__text h3 {
		color: #8e8e8e;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 12px;
}
.main-photo__text .active {
		border-top: 1px solid #000;
}
.main-photo__text .active h3 {
		color: #262626;
}
.main-photo__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		position: relative;
}
.main-photo__items p {
		font-size: 18px;
		color: rgba(0, 0, 0, 0.1);
		text-align: center;
		position: absolute;
		transform: translateY(-100%);
		width: 298px;
		font-weight: 500;
		background-color: rgba(124, 124, 124, 0.1);
		padding: 10px 0;
		transition: 0.7s;
		visibility: hidden;
}
.main-photo__items .item {
		width: 298px;
		height: 298px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
}
.main-photo__items .item-1 {
		background-image: url(../img/1.jpg);
}
.main-photo__items .item-2 {
		background-image: url(../img/2.jpg);
}
.main-photo__items .item-3 {
		background-image: url(../img/3.jpg);
}
.main-photo__items .item-4 {
		background-image: url(../img/4.jpg);
}
.main-photo__items .item-5 {
		background-image: url(../img/5.jpg);
}
.main-photo__items .item-6 {
		background-image: url(../img/6.jpg);
}
.main-photo__items .item-7 {
		background-image: url(../img/7.jpg);
}
.main-photo__items .item-8 {
		background-image: url(../img/8.jpg);
}
.main-photo__items .item-9 {
		background-image: url(../img/9.jpg);
}
.main-photo__items .item-10 {
		background-image: url(../img/10.jpg);
}
.main-photo__items .item-11 {
		background-image: url(../img/11.jpg);
}
.main-photo__items .item-12 {
		background-image: url(../img/12.jpg);
}
.main-photo__items .item-13 {
		background-image: url(../img/13.jpg);
}
.main-photo__items .item-14 {
		background-image: url(../img/14.jpg);
}
.main-photo__items .item-15 {
		background-image: url(../img/15.jpg);
}
.main-photo__items .photo__items {
		margin-bottom: 30px;
}
.main-photo__items .photo__items:hover p {
		background-color: rgba(124, 124, 124, 0.6);
		color: black;
		visibility: visible;
}

.footer {
		background-color: #FAFAFA;
}
.footer-blocks {
		padding: 0 0 50px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
}
.footer-block a:not(:last-child) {
		margin-right: 16px;
}
.footer-block a {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		color: #00376b;
}
.footer-block {
		text-align: center;
}
.footer-block p {
		color: #8e8e8e;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
}

@media screen and (max-device-width: 950px) {
		.container {
				width: 100%;
		}

		.header-blocks {
				justify-content: space-evenly;
		}
		.header-blocks a:not(:last-child) {
				padding-right: 10px;
		}

		.main-header__block {
				justify-content: space-evenly;
		}
		.main-img {
				margin-right: 0px;
				margin-left: 0px;
		}
		.main-blocks__subscrib .main-publications, .main-blocks__subscrib .main-subscrib {
				margin-right: 20px;
		}
		.main-photo__items {
				justify-content: space-evenly;
		}

		.footer-block p {
				margin-right: 15px;
		}
}
@media screen and (max-device-width: 640px) {
		.header-blocks {
				justify-content: space-evenly;
		}
		.header-blocks .search-header {
				display: none;
		}

		.main-header__block {
				flex-wrap: wrap;
				justify-content: center;
		}
		.main-img {
				text-align: center;
				width: 100%;
		}
		.main-blocks {
				position: relative;
		}
		.main-blocks__header {
				justify-content: center;
				flex-wrap: wrap;
		}
		.main-blocks__header h2 {
				width: 100%;
				text-align: center;
				margin: 15px 0;
		}
		.main-blocks__subscrib {
				margin: 15px 0;
		}
		.main-blocks__subscrib .main-publications, .main-blocks__subscrib .main-subscrib {
				margin-right: 20px;
		}
		.main-blocks__info {
				text-align: center;
		}
		.main-blocks__stories {
				flex-wrap: wrap;
				justify-content: center;
				margin-left: 0;
		}
		.main-blocks__stories img {
				margin-top: 20px;
		}
		.main-photo__text {
				display: flex;
				justify-content: center;
				text-transform: uppercase;
				margin: 20px 0;
		}
		.main-photo__text .photo-block {
				cursor: pointer;
		}
		.main-photo__text .photo-block:not(:last-child) {
				margin-right: 62px;
		}
		.main-photo__text h3 {
				color: #8e8e8e;
				font-weight: 700;
				letter-spacing: 1px;
				font-size: 12px;
		}
		.main-photo__text .active {
				border-top: 1px solid #000;
		}
		.main-photo__text .active h3 {
				color: #262626;
		}
		.main-photo__items p {
				font-size: 18px;
				color: black;
				text-align: center;
				position: absolute;
				width: 100%;
				background-color: rgba(124, 124, 124, 0.6);
				padding: 10px 0;
				transition: 0s;
				visibility: visible;
		}
		.main-photo__items .item {
				width: 100%;
				height: 70vh;
		}
		.main-photo__items .photo__items {
				width: 100%;
				padding-bottom: 0px;
		}

		.footer-blocks {
				flex-wrap: wrap;
				justify-content: center;
		}
		.footer-block p {
				margin-top: 20px;
		}
}
@media screen and (max-device-width: 410px) {
		.header-blocks {
				justify-content: center;
				flex-wrap: wrap;
				margin: 15px 0;
		}
		.header-blocks .header__name {
				width: 100%;
				text-align: center;
				margin-bottom: 10px;
		}
		.header-blocks .header-items a i {
				font-size: 30px;
		}
		.header-blocks .header-items a:not(:last-child) {
				padding-right: 15px;
		}
		.header-blocks .header-items a img {
				width: 35px;
				height: 35px;
		}

		.main-blocks__subscrib {
				margin: 15px 0;
				flex-wrap: wrap;
				justify-content: center;
		}
		.main-photo__items .item {
				width: 100%;
				height: 60vh;
		}
}